.playerInfo {

  h1 {
    width: min-content;
  }

  text-align: center;
}

.playerStats {
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid black;

  &Row {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid black;
    align-items: center;

  }

  h4 {
    width: min-content;
    height: min-content;
  }
}